{% extends 'base.html' %}

{% block head_title %}
This is amazing!!!!
{% endblock head_title %}


{% block content %}

<div class='row text-center'>
    <div class='col text'>
        <h2>Welcome to Tweetme 2</h2>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <textarea required='required' class='form-control' name='content' placeholder='Your tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>

<div id="tweets">
    Loading ...
</div>

<script>
const tweetsElement = document.getElementById("tweets") //get an htlm element

const xhr = new XMLHttpRequest()
const method = 'GET' // "POST"
const url = "/tweets"
const responseType = "json"

function LikeBtn(tweet) {
    return "<button class='btn btn-primary' onclick=handleDidLike(" +
    tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
}

function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount)
    currentCount++
    return 
}


function formattedTweetElement(tweet) {
    //let formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id
    //let formattedTweet = "<div class='mb-4'><h1>" + tweet.id + "</h1>" + "<p>" + tweet.content + "</p></div>"
    let formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + 
    "'><p>" + tweet.content + 
        "</p><div class='btn-group'>" + LikeBtn(tweet) + 
        "</div></div>"
    return formattedTweet
}

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    console.log(xhr.response)
    const serverResponse = xhr.response
    const listedItems = serverResponse.response
    let finalTweetStr = ""
    let i;
    for (i=0;i<listedItems.length; i++){
        console.log(i)
        console.log(listedItems[i])
        let tweetObj = listedItems[i]
        let currentItem = formattedTweetElement(tweetObj)
        //let currentItem = "<div class='mb-4'><h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "</p></div>"
        finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr
    //console.log(listedItems)
}
xhr.send()

</script>

{% endblock content %}