{% extends 'base/base.html' %}

{% block head_title %}
This is amazing!!!!
{% endblock head_title %}


{% block pgcontent %}

<div class='row text-center'>
    <div class='col text'>
        <h2>Welcome to Tweetme 2</h2>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <textarea required='required' class='form-control' name='content' placeholder='Your tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>
<div class="container mb-3">
    <h1 class="jumbotron">Rendered From React</h1>
    <div id="tweet2"></div>
</div>

<div class="container mb-3">
    <h1 class="jumbotron">Rendered From Javascript</h1>
    <div id="tweets">
        Loading ...
    </div>
</div>


<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>
<script type="module" src="{% static 'js/purejs.js' %}"></script>

{% endblock content %}